body {
	margin: 0;
	background: none;
}

.row {
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
}

.body {
	top: 0;
	bottom: @footer-height;
	overflow: auto;
}

.footer {
	height: @footer-height;
	bottom: 0;
	display: inline-flex;
	padding: @layout-padding;
	background-color: @color-footer-bg;

	img {
		height: @layout-base;
	}

	#logo {
		margin-right: @layout-base;
	}
}

a.icon {
	position: relative;
	display: inline-block;
	height: @layout-base;
	margin-right: @layout-padding;
	margin-bottom: @layout-padding;
	cursor: pointer;
	float: left;

	&:hover:after {
		background-color: transparent;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: @layout-padding;
		background-color: @color-dive-box;
		.transition(background-color 0.4s);
	}

	object {
		height: 100%;
	}
}

.profile {
	white-space: nowrap;
	padding: @layout-padding;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	#gradient > .vertical(@start-color: @color-sky-top; @end-color: @color-sky-bottom);
}

.ocean {
	position: absolute;
	#gradient > .vertical(@start-color: @color-ocean-top; @end-color: @color-ocean-bottom);
	top: @sky-height;
	bottom: 0;
	left: 0;
	right: 0;
}

.plusminus {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.dive {
	width: @dive-box-width;
	height: @dive-box-height;
	border: 5px dashed @color-dive-box;
	border-radius: 20px;
	padding: @layout-padding;
	position: relative;
	display: inline-block;
	margin-right: @layout-padding;

	h3 {
		margin: 0px @layout-padding;
	}

	input {
		outline: none;
		border: none;
		width: 100%;
		background: transparent;
		color: @color-black;
	}
}

.disclaimer {
	width: 500px;
	color: @color-disclaimer;
	font-size: 22px;
	font-weight: bold;
	margin-left: @layout-base;

	@media screen and (max-width: @screen-break) {
		display: none;
	}
}

.nav.nav-tabs {
	height: 44px;
	margin-bottom: 15px;
}
