html {
	min-height: 100%;
	#gradient > .vertical(@start-color: @color-ocean-top; @end-color: @color-ocean-bottom);
}

body {
	margin: 0;
	background: none;
}

.row {
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
	padding: @row-padding;
}

.body {
	top: 0;
	bottom: @footer-height + 2 * @row-padding;
	overflow: auto;
}

.footer {
	height: @footer-height + 2 * @row-padding;
	bottom: 0;
	display: inline-flex;

	img {
		height: @footer-height;
	}

	#logo {
		margin-right: @footer-height;
	}
}

a.icon {
	position: relative;
	display: inline-block;
	height: @footer-height;
	margin-right: @row-padding;
	margin-bottom: @row-padding;

	&:hover:after {
		background-color: transparent;
	}

	&:after {
		content: ''; 
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;

		border-radius: @row-padding;
		background-color: @color-dive-box;
		.transition(background-color 0.4s);
	}

	object {
		height: 100%
	}
}

.profile {
	white-space: nowrap;
}

.plusminus {
	display: inline-block;
	position: absolute;
}

.dive {
	width: @dive-box-width;
	height: @dive-box-height;
	border: 5px dashed @color-dive-box;
	border-radius: 20px;
	padding: @row-padding;
	position: relative;
	display: inline-block;
	margin-right: @row-padding;

	h3 {
		margin: 0px @row-padding;
	}

	input {
		outline: none;
		border: none;
		width: 100%;
		background: transparent;
		color: white;
	}
}
