body {
	margin: 0;
	background: none;
}

.row {
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
}

.body {
	top: 0;
	bottom: @footer-height;
	overflow: auto;
}

.footer {
	height: @footer-height;
	bottom: 0;
	display: inline-flex;
	padding: @layout-padding;
	background-color: @color-footer-bg;

	img {
		height: @layout-base;
	}

	#logo {
		margin-right: @layout-base;
	}
}

a.icon {
	position: relative;
	display: inline-block;
	height: @layout-base;
	margin-right: @layout-padding;
	margin-bottom: @layout-padding;
	cursor: pointer;
	float: left;

	&:hover:after {
		background-color: transparent;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: @layout-padding;
		background-color: @color-dive-box;
		.transition(background-color 0.4s);
	}

	object {
		height: 100%;
	}
}

.profile {
	white-space: nowrap;
	padding: @layout-padding;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	.double-gradient(@color-sky-top, @color-sky-bottom, @color-ocean-top, @color-ocean-bottom, @sky-height);
}

.plusminus {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.dive {
	padding: @layout-padding;
	position: relative;
	display: inline-block;
	margin-right: @layout-padding;
	vertical-align: top;

	input {
		outline: none;
		border: none;
		background: transparent;
		color: @color-black;
		.box-shadow(none);
	}

	.diagram {
		position: relative;
		margin-top: 53px;
	}

	img.diver {
		width: @layout-base;
		position: absolute;
	}

	img.boat:extend(.dive img.diver) {
		top: -20px;
	}

	.diver-tooltip {
		font-size: @font-size-large;
		text-align: left;
	}
}

.surface-interval {
	display: inline-block;
	position: relative;
	top: 60px;
	padding: 8px;
	margin-right: 8px;
	width: 4 * @layout-base;
}

.plane {
	position: relative;
	display: inline-block;
	margin-right: @layout-padding;

	img {
		width: 2 * @layout-base;
	}

	& > span {
		position: absolute;
		left: 0;
		font-size: @font-size-h2;
		font-weight: bold;
		color: @color-plane;
	}
}

.disclaimer {
	width: 500px;
	color: @color-disclaimer;
	font-size: 22px;
	font-weight: bold;
	margin-left: @layout-base;

	@media screen and (max-width: @screen-break) {
		display: none;
	}
}

.nav.nav-tabs {
	height: 44px;
	margin-bottom: 15px;
}

.draggable {
	position: absolute;
	cursor: move;
	.user-select(none);
	-webkit-user-drag: none;
	user-drag: none;
}

.help-basic {
	.clearfix();
	margin-bottom: 2 * @layout-padding;

	h3 {
		margin-top: 0;
	}

	img {
		width: @layout-base;
		float: left;
		margin-right: @layout-padding;
	}
}
